@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family:'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar{
  background-color:#000 !important;
}

.nav-link,.navbar-brand {
  color:#fff !important;
}

.navbar-nav{
  margin-left: auto !important;
}

.small-img{
  width:auto;
  height:200px;
}

.h1{
  font-size:0.4rem !important;
}

.box-shadow{
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}
